body{
  margin: 3%;
  background-color: rgb(210,180,140);
  color: white;
  text-align: center;

}

body::-webkit-scrollbar {
  display: none;
}

.block{
  background-color: rgb(112, 102, 102);
  border-radius: 20px;
  padding: 10px; 
  margin: 20px;
}

h1{
  display:flex;
  justify-content: center;

}
h2{
  text-decoration: underline;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.topnav{
  backdrop-filter: blur(10px);
  overflow: hidden;
  width: 95%;
  overflow: visible;
}

.topnav-right {
  float:right;
  padding: 15px;
}

.midden{
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-size: 18px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


table{
  width:100%; 
  align-self: center;
  border: 1px solid ;
  font-size: 25px;
  border-radius: 7px;
}

th{
  font-style: italic;
}

.btn{

  align-self: left;
  background-color: rgb(112, 102, 102);
  border: solid;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.pfp{
   border-radius: 50%;
   width: 140px; 
   height: 160px;
}

.flag{
  width:25px;
}

.dropbtn {
  background-color: rgb(112, 102, 102);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container */
.dropdown {
  float: left;
  display: flex;
  padding: 5px;
  overflow: visible;
}

/* Dropdown Content*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(112, 102, 102);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:rgb(112, 102, 102);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


@media screen and (max-width: 600px) {
  .dropdown{
    display: flex;
    position: fixed;
  }
  .firstnav{
    display: none;
  }
}