body{
  margin: 3%;
  background-color: rgb(210,180,140);
  color: white;
  text-align: center;

}

body::-webkit-scrollbar {
  display: none;
}

.block{
  background-color: rgb(112, 102, 102);
  border-radius: 20px;
  padding: 10px; 
  margin: 20px;
}

h1{
  display:flex;
  justify-content: center;

}
h2{
  text-decoration: underline;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.navbar{
  backdrop-filter: blur(10px);
  overflow: hidden;
  width: 95%;
}

.topnav-right {
  float:right;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-size: 18px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


table{
  width:100%; 
  align-self: center;
  border: 1px solid ;
  font-size: 25px;
  border-radius: 7px;
}

th{
  font-style: italic;
}

.btn{

  align-self: left;
  background-color: rgb(112, 102, 102);
  border: solid;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.pfp{
   border-radius: 50%;
   width: 140px; 
   height: 160px;
}

.flag{
  width:25px;
}